.logo {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 2px;
  background-image: url(../../logo/pngwing.png);
}

.ant-menu {
  text-align: center;
  justify-content: center;
}

.ant-layout-header {
  line-height: 31px;
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}

#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

@media(max-width:1920px) {
  .logo {
    left: 10px;
  }

  .ant-menu {
    margin-left: 18px;
  }
}

@media(max-width:370px) {
  .logo {
    left: 10px;
  }

  .ant-menu {
    margin-left: 2px;
  }
}